<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<%= link_to "Home", root_path, :class => 'brand' %>

			<% if current_user %>
			<ul class="nav pull-right">
				<li>
					<p class="navbar-text">
						<%= current_user.email %>
					</p>
				</li>
				<li>
					<%= link_to('Logout', logout_path) %>
				</li>
			</ul>
			<% else %>
				<%= form_tag sessions_path, {:class => "navbar-form pull-right"} do %>
					<%= text_field_tag :email, params[:email], {:placeholder=> "user", :class => "input-small"} %>
					<%= password_field_tag :password, nil , {:placeholder=> "password", :class => "input-small"} %>
					<%= submit_tag "Log in" %>
				<% end %>
			<% end %>
		</div>
	</div>
</div>
